#content
  %h1 Check your inbox&hellip;

  %p
    Thank you for signing up, but we're not quite done yet. To make sure we've got the right email address we've sent you an email with a special link in it. It should arrive into your inbox within the next 60 seconds, so please quickly check there and click the link to complete the process.
