body.bare {
  background-color: $base-background-color;

  #container {
    color: $base-font-color;
    display: table;
    height: 100vh;
    width: 500px;
    margin: 0 auto;
    text-align: center;
    background-image: none;
    background-color: $base-background-color;

    #content {
      margin-top: 0;
      display: table-cell;
      vertical-align: middle;
      width: 100%;

      p {
        margin: 1em auto;
      }

      .small {
        font-size: 75%;
        p {
          margin: 0;
          line-height: 1.4em;
        }
      }
    }
  }
  footer#footer {
    display: none;
  }
}

