@import "neat-helpers";

$visual-grid: true;

// Typography
$base-font-family: freight-text-pro, Merriweather, Georgia, Cambria, 'Times New Roman', Times, serif !default;
$heading-font-family: jaf-bernino-sans, 'Open Sans' 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif !default;
$navigation-font-family: ff-meta-web-pro, $heading-font-family !default;
$code-font-family: Consolas, 'Liberation Mono', Menlo, monaco, 'Inconsolata', 'Ubuntu Mono', Courier, monospace !default;

// Font sizes
$base-font-size: 22px !default;
$heading-font-size: $base-font-size * 1.64 !default;

// Line height
$base-line-height: $base-font-size * 1.5 !default;
$heading-line-height: $heading-font-size * 1.15 !default;

// Other typesetting hints
$heading-letter-spacing: -2px*(23/32) !default;

// Other sizes
$base-spacing: $base-line-height !default;
$small-spacing: $base-spacing / 2 !default;
$base-z-index: 0 !default;

// Colors
$success-color: #c1fca9 !default;
$notice-color: #a7d4f9 !default;
$error-color: #ffabb6 !default;
$alert-color: #ffe7ab !default;
$base-accent-color: #efefef !default;
$action-color: #5cd02e !default;
$base-button-color: $action-color !default;
$hover-button-color: lighten($base-button-color, 10%) !default;

// Font colors
$base-font-color: rgba(0, 0, 0, 0.8) !default;
$link-color: rgb(77, 204, 75) !default;

// Borders
$base-border-radius: 5px !default;
$base-border-color: lighten($base-font-color, 75%) !default;
$base-border: 1px solid $base-border-color !default;

// Background colors
$base-background-color: #fafafa !default;
$secondary-background-color: tint($base-background-color, 75%) !default;

// Containers
$max-width: 100% !default;

// Screens
$medium-screen-width: 600px !default;
$medium-screen: new-breakpoint(min-width $medium-screen-width 12) !default;
$large-screen-width: 900px !default;
$large-screen: new-breakpoint(min-width $large-screen-width 12) !default;
$tablet-width: 768px !default;
$tablet: new-breakpoint(max-width $tablet-width 12) !default;
$mobile-width: 480px !default;
$mobile: new-breakpoint(max-width $mobile-width 4) !default;

// Forms
$form-font-family: $base-font-family !default;
$form-font-size: $base-font-size !default;
$form-border-radius: $base-border-radius !default;
$form-border-color: $base-border-color !default;
$form-border-color-hover: darken($form-border-color, 10) !default;
$form-border-color-focus: adjust-color($action-color, $lightness: -5%) !default;
$form-box-shadow: inset 0 1px rgba(#000, 0.06) !default;
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3) !default;

// Animations
$base-duration: 150ms !default;
$base-timing: ease !default;

// Navigation
$navigation-background-color: $base-accent-color !default;
$navigation-color: $base-font-color !default;

// Hero
$hero-color: $base-font-color !default;
$hero-base-background-color: #fff !default;

// Progress bar
$progress-background-color: #9de381 !default;
$progress-border-color: #62cf33 !default;
$progress-meter-border-color: darken($progress-background-color, 20%) !default;
$progress-meter-border: 1px solid darken($progress-meter-border-color, 15%) !default;
$progress-meter-color: $progress-meter-border-color !default;
$progress-background: lighten($progress-background-color, 20%) !default;
