@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";

body {
  background: $base-background-color;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  color: $base-font-color;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 1.66em 0 0.83em;
  a {
    text-decoration: none;
    color: $base-font-color;
  }
}

h1, h2 {
  font-size: $heading-font-size;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
}

h3, h4 {
  font-size: $heading-font-size * 0.89;
  line-height: $heading-line-height * 0.89;
  letter-spacing: $heading-letter-spacing;
}

p, ul li, ol li {
  line-height: $base-line-height;
  font-weight: normal;
}

ul li, ol li {
  margin: 0.5em 0;
}

ul {
  list-style: disc;
  ol {
    list-style: lower-roman;
    margin-left: $gutter;
  }
}
ol {
  list-style: decimal;
}

#container {
  @include outer-container;
}

#content {
}

//@import "browser";
//@import "bullets";
//@import "comments";
//@import "device";
//@import "hover_tile";

@import "forms";
//@import "breadcrumb";
//@import "flashes";
@import "hero";
@import "nav";
@import "footer";
//@import "progress_bar";

body.bare {
  background-color: $base-background-color;

  #container {
    color: $base-font-color;
    display: table;
    height: 100vh;
    width: 500px;
    text-align: center;
    background-image: none;
    background-color: $base-background-color;

    #content {
      display: table-cell;
      vertical-align: middle;
      width: 100%;

      p {
        margin: 1em auto;
      }

      .small {
        font-size: 75%;
        p {
          margin: 0;
          line-height: 1.4em;
        }
      }
    }
  }
  footer#footer {
    display: none;
  }
}

//.browser:nth-child(1) .browser-content {
//  background: url(/images/dropbox.homepage.png);
//  background-size: cover;
//  background-position: 0 0, center
//}
//
//.browser:nth-child(2) .browser-content {
//  background: url(/images/contentfocus.homepage.png);
//  background-size: cover;
//  background-position: 50% 0, center
//}
//
//.browser:nth-child(3) .browser-content {
//  background: url(/images/heroku.homepage.png);
//  background-size: cover;
//  background-position: 25% 0, center
//}

footer.footer {
  clear: both;
  padding-top: 1em;
  ul li, p {
    font-family: ff-meta-web-pro, $heading-font-family;
    letter-spacing: -1px;
  }
  ul li {
    list-style: none;
    a {
      white-space: nowrap;
    }
  }
  p {
    font-size: 75%;
  }
}

.bullets {
  margin: (2 * $gutter) 0;

  .bullet-icon-1, .bullet-icon-2, .bullet-icon-3 {
    background: $hero-base-background-color;
  }
}

.footer {
  background: #262626;
  padding-top: 0;
  .footer-logo {
    height: 150px;
    width: 150px;
    margin: 0 auto 1em;
    background-size: 150px 150px;
    background-image: url(/images/logo.full.png);
    background-repeat: no-repeat;
    @hidpi {
      background-image: url(/images/logo.full.2x.png);
    }
    img {
      display: none;
    }
  }
  li {
    margin-top: 0;
  }
  li h3 {
    margin: 0 0 0.4em;
  }
}
.progress-bar {
  height: 15px;
  margin: $gutter 0;

  span.meter {
    width: 0%;
    transition: width 30s ease-in;
  }
  span.meter.complete {
    width: 100%;
  }
}

h1.logo {
  height: 150px;
  width: 150px;
  margin: 30px auto 0;
  background-size: 150px 150px;
  background-image: url(/images/logo.full.png);
}
h1.logo span {
  display: none;
}

@include hidpi {
  h1.logo {
    background-image: url(/images/logo.full.2x.png);
  }
}

ul.benefits {
  list-style: none;
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;

  li {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    position: relative;
    float: left;

    h2, p {
      margin-top: 0;
      margin-bottom: 0.2rem;
    }
    p img {
      @include span-columns(3);
      &:last-child {
        margin-right: 2.35765%;
      }
    }

    &:nth-child(odd) {
      h2 {
        @include span-columns(9);
        @include shift(3);
      }
      p img {
        float: left;
      }
    }
    &:nth-child(even) {
      p img {
        float: right;
      }
    }
  }
}
