@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "contentfocus/icons";

body {
  background: $base-background-color;
  margin: 0;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  color: $base-font-color;
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
  font-weight: 700;
  margin: 1.66em 0 0.83em;
  text-align: center;
  @include media($mobile) {
    text-align: left;
  }
  a {
    text-decoration: none;
    color: $base-font-color;
  }
}

h1, h2 {
  font-size: $heading-font-size;
  line-height: $heading-line-height;
  letter-spacing: $heading-letter-spacing;
}

h3, h4 {
  font-size: $heading-font-size * 0.89;
  line-height: $heading-line-height * 0.89;
  letter-spacing: $heading-letter-spacing;
}

p, ul li, ol li {
  line-height: $base-line-height;
  font-weight: normal;
}

ul li, ol li {
  margin: 0.5em 0;
}

ul {
  list-style: disc;
  ol {
    list-style: lower-roman;
    margin-left: $gutter;
  }
}
ol {
  list-style: decimal;
}

#container {
}

#content {
  @include outer-container;
  @include media($mobile) {
    @include outer-container($mobile-width);
    padding-top: 1em;
    padding-left: 22px;
    padding-right: 22px;
  }
  @include media($medium-screen) {
    @include outer-container($medium-screen-width);
  }
  @include media($tablet) {
    @include outer-container($tablet-width);
  }
  @include media($large-screen) {
    @include outer-container($large-screen-width);
  }
  p {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
    @include media($mobile) {
      font-size: $base-font-size;
      text-align: left;
    }
  }
}

//@import "browser";
//@import "bullets";
//@import "comments";
//@import "device";
//@import "hover_tile";

@import "forms";
//@import "breadcrumb";
@import "flashes";
@import "hero";
@import "nav";
@import "footer";
//@import "progress_bar";

@import "bare";

footer.footer {
  clear: both;
  padding-top: 1em;
  ul li, p {
    font-family: ff-meta-web-pro, $heading-font-family;
    letter-spacing: -1px;
  }
  ul li {
    list-style: none;
    a {
      white-space: nowrap;
    }
  }
  p {
    font-size: 75%;
  }
}

.bullets {
  margin: (2 * $gutter) 0;

  .bullet-icon-1, .bullet-icon-2, .bullet-icon-3 {
    background: $hero-base-background-color;
  }
}

.footer {
  background: #262626;
  padding-top: 0;
  .footer-logo {
    height: 150px;
    width: 150px;
    margin: 0 auto 1em;
    background-size: 150px 150px;
    background-image: url(/images/logo.full.png);
    background-repeat: no-repeat;
    @hidpi {
      background-image: url(/images/logo.full.2x.png);
    }
    img {
      display: none;
    }
  }
  li {
    margin-top: 0;
  }
  li h3 {
    margin: 0 0 0.4em;
  }
}
.progress-bar {
  height: 15px;
  margin: $gutter 0;

  span.meter {
    width: 0%;
    transition: width 30s ease-in;
  }
  span.meter.complete {
    width: 100%;
  }
}

h1.logo {
  height: 150px;
  width: 150px;
  margin: 30px auto 0;
  background-size: 150px 150px;
  background-image: url(/images/logo.full.png);
}
h1.logo span {
  display: none;
}

@include hidpi {
  h1.logo {
    background-image: url(/images/logo.full.2x.png);
  }
}

#content {
  margin-top: 65 + ($base-spacing * 2);

  ul.benefits, ul.features, ul.how {
    @include clearfix;
    list-style: none;
    margin-top: 0;
    margin-bottom: $base-spacing;
    padding: 0;
    border-top: 1px solid darken($base-background-color, 8%);
    border-bottom: 1px solid darken($base-background-color, 8%);

    li {
      margin-top: $base-spacing*2;
      margin-bottom: $base-spacing*2;
      text-align: center;
      clear: both;
      width: 100%;
      font-size: $base-font-size;
      p, h1, h2 {
        font-size: $base-font-size;
        margin-top: 0;
        margin-bottom: 0;
      }

      @include media($mobile) {
        text-align: left;
      }
    }
  }

  ol.how, ul.how {
    border-top: 1px solid darken($base-background-color, 8%);
    border-bottom: 1px solid darken($base-background-color, 8%);
  }

  ol.how, ul.how, ul.features {
    li {
      display: table;

      .description {
        @include span-columns(6);
        float: none;
        display: table-cell;
        vertical-align: middle;
      }
      .example {
        @include span-columns(6);
        float: none;
        display: table-cell;
        display: table-cell;
        vertical-align: middle;
        img {
          max-width: 100%;
        }
      }
    }
  }

  ul.jobs {
    list-style: none;
    li {
      @include span-columns(6);
      float: left;
    }
  }
  a.call-to-action {
    @extend %button;
    font-family: $heading-font-family;
    font-weight: 700;
    letter-spacing: $heading-letter-spacing;
    color: $base-background-color;
    background: $action-color;
    padding: 0.75em 1em;
    border-radius: 5px;
    margin: 0.75em 0;
    display: inline-block;
    text-decoration: none;
    &:focus, &:hover, &:active {
      outline: none;
      color: lighten($action-color, 40%);
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 5px lighten($action-color, 10%);
    }
    &:active {
      background: darken($action-color, 10%);
      cursor:progress;
    }
  }

  blockquote.testimonial {
    position: relative;
    font-weight: 400;
    font-style: italic;
    font-family: $base-font-family;
    margin-top: $base-spacing*3;
    margin-bottom: $base-spacing*3;

    &::before {
      content: "\201C";
      font-size: 300%;
      position: absolute;
      font-family: Georgia, serif;
    }

    p {
      margin-bottom: 0;
      font-weight: 400;
      font-style: italic;
      font-family: $base-font-family;
    }

    cite {
      display: block;
      font-size: 75%;
      color: lighten($base-font-color, 25%);
      img {
        border-radius: 50%;
        vertical-align: middle;
        margin: 5px;
        height: 2em;
        width: 2em;
        border: 1px solid #000;
        padding: 2px;
      }
      a {
        color: lighten($base-font-color, 25%);
      }
      &:before {
        content: "\2014";
      }
    }
  }
}


$code-background: #fcfcfc;
.hll, .hlltable, .hll > table {
  background-color: $code-background;
  border-radius: 3px;
  font-family: $code-font-family;
  font-size: 20px;
  line-height: 24px;
  pre {
    padding: 0;
    margin: 0;
  }
 }
.hlltable, .hll > table {
  border-spacing: 0;
  border: 1px solid darken($code-background, 10%);
  width: 100%;
  overflow-x: auto;
  display: block;

  td.linenos, td.gutter {
    padding: 0 0.5rem;
    border-right: 1px solid darken($code-background, 10%);
    width: 50px;
    display: inline-block;
    pre {
      padding: 1rem 0;
      width: 100%;
      a {
        color: darken($code-background, 20%);
        text-decoration: none;
        width: 100%;
        display: inline-block;
        padding: 0 0.5rem;
        &.highlight {
          background: #f7f7c6;
        }
      }
    }
  }
  td.code {
    padding: 0 0.5rem;
    width: 100%;
    pre {
      padding: 1rem 0;
      & > span {
        &.highlight {
          background: #f7f7c6;
        }
      }
    }
  }
  .hll {
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
}
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */
.gutter, .linenos, .lineno, .linenodiv pre {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: darken($code-background, 20%);
  text-align: right;
}

@import "share_reservation";
