@import "animations";
@import "bitters/forms";
@import "bitters/buttons";

form {
  width: 100%;
  max-width: 100%;
  padding: 0;
  font-size: 85%;
  margin: $base-spacing 0;

  .input {
    display: block;
    clear: both;
    width: 100%;
    text-align: left;

    label {
      width: 50%;
      display: inline-block;
      text-align: right;
      vertical-align: middle;
      margin: 0 $base-spacing/2 0 0;
    }

    input[type=text] {
      padding: .5em .6em;
      margin: 0;
      display: inline-block;
      vertical-align: middle;
      width: 10em;
    }

    &.checkbox {
      label {
        width: auto;
        text-align: left;
      }
    }

    body.bare & {
      width: 100%;
      font-size: 14px;

     label {
     }
     input[type=text] {
     }
    }
  }

  .input-group {
    display: inline-block;
  }
  input[type="checkbox"] {
    margin-left: 50%;
  }
  .actions {
    body.bare & {
      padding-left: $base-spacing/2;
    }
  }
  .actions {
    text-align: left;
    margin-top: $base-spacing/2;
    margin-left: 50%;
    padding-left: $base-spacing/2;

    button.save {
      background: $action-color;
      &:focus, &:hover, &:active {
        outline: none;
        color: lighten($action-color, 40%);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 5px lighten($action-color, 10%);
      }
      &:active {
        background: darken($action-color, 10%);
        cursor:progress;
      }
    }
  }
}

button {
  span.spinner {
    @include transition(opacity 0.15s, width 0.15s, margin 0.15s);
    font-family: FontAwesome;
    font-size: 14px;
    display: inline-block;
    width: 0;
    opacity: 0;

    &:after {
      @include animation(spin 2.0s linear infinite);
      content: "\f1ce";
      display: none;
    }
  }

  &:active, &.active {
    span.spinner {
      margin: 0 5px 0 0;
      width: 14px;
      opacity: 1;
      &:after {
        display: inline;
      }
    }
  }
}
