- if @page.flagged_as?("landing-page")
  = haml :"headstartup/hero", layout: false
#content
  ~ @page.to_html(self)
  - if @page.flagged_as?("sign-up")
    = haml :"headstartup/signup_form", layout: false
